<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>융합실 사용 신청</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="site_container">
        <header class="head">
            <h1>융합실 신청</h1>
            <a href="#"><h2>마지막 사진</h2></a>
        </header>
        <div class="container">
            <div class="container-main" style="overflow: auto">
                <div class="main-list">

                </div>
                <div class="main-list">
                    
                </div>
                <div class="main-list">
                    
                </div>
                <div class="main-list">
                    
                </div>
                <div class="main-list">
                    
                </div>
                <div class="main-list">
                    
                </div>
                <div class="main-list">
                    
                </div>
                <div class="main-list">
                    
                </div>
                <div class="main-list">
                    
                </div>
            </div>
            <div class="last-img">
                <div class="last-img-text">
                    <h1>마지막 사진</h1>
                </div>
                <div class="Student-ID">
                    <input type="text" placeholder="학번을 입력하세요." class="Student-ID">
                </div>
                <div class="file">
                    <input type="file">
                </div>
                <div class="img">

                </div>
                <div class="send">
                    <button><h2>전송</h2></button>
                </div>
            </div>
        </div>
        <div class="plan">
            <div class="change-img">
                <a href="#"><img src="/img/change.png" alt="change-img"></a>
            </div>
            <div class="sub-plan">
                <div class="sub-student-id">
                    <h2>학번 :</h2>
                    <input type="text">
                </div>
                <div class="sub-student-name">
                    <h2>이름 :</h2>
                    <input type="text">
                </div>
                <div class="startTime">
                    <h2>시작 시간 :</h2>
                    <input type="time">
                </div>
                <div class="lastTime">
                    <h2>종료 시간 :</h2>
                    <input type="time">
                </div>
                <div class="sub-add-img">
                    <a href="#"><img src="/img/add.png" alt="add"></a>
                </div>
                <div class="sup-send">
                    <button><h2>전송</h2></button>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js" type="module"></script>
<script type="module" src="/public/js/home/List.js" ></script>
</html>