<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/home/style.css">
</head>
<body>
    <h1>정지훈이다</h1>
    <label>
        <input type="text" class="SID">
    </label>
    <label>
        <input type="text" class="name">
    </label>
    <label>
        <input type="time" class="start">
    </label>
    <label>
        <input type="time" class="end">
    </label>
    <label>
        <input type="text" class="SID">
    </label>
    <label>
        <input type="text" class="name">
    </label>
    <label>
        <input type="time" class="start">
    </label>
    <label>
        <input type="time" class="end">
    </label>
    <button class="button">버튼입니다~</button>
</body> 
<!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js" type="module"></script>
<script type="module" src="/public/js/home/List.js" ></script>
</html>