<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>융합실 사용 신청</title>
    <link rel="stylesheet" href="/public/css/home/style.css">
</head>
<body>
    <div class="site_container">
        <header class="head">
            <h1>융합실 신청</h1>
            <a href="#"><h2>마지막 사진</h2></a>
        </header>
        <div class="container">
            <div class="container-main" style="overflow: auto">
                <% results.map((result) => { %>
                    <div class="main-list">
                        <span><%= result.StudentID %></span>
                        <span><%= result.name %></span>
                        <span><%= result.startTime %></span>
                        <span class="user-end"><%= result.endTime %></span>
                    </div>
                <% }) %>
            </div>
            <div class="last-img">
                <div class="last-img-text">
                    <h1>마지막 사진</h1>
                </div>
                <div class="Student-ID">
                    <input type="text" placeholder="학번을 입력하세요." class="img-id">
                </div>
                <div class="file">
                    <input type="file" class="img-file">
                </div>
                <div class="img">
                    
                </div>
                <div class="send">
                    <button class="img-btn"><h2>전송</h2></button>
                </div>
            </div>
        </div>
        <div class="plan">
            <div class="change-img">
                <a href="#">
                    <i class="fa-solid fa-arrows-rotate" style="width: 50px; height: 50px; font-size: 50px; color: black;"></i>
                </a>
            </div>
            <div class="sub-plan">
                <div class="sub-student-id">
                    <h2>학번 :</h2>
                    <input type="text" class="SID">
                </div>
                <div class="sub-student-name">
                    <h2>이름 :</h2>
                    <input type="text" class="name">
                </div>
                <div class="startTime">
                    <h2>시작 시간 :</h2>
                    <input type="time" class="start">
                </div>
                <div class="lastTime">
                    <h2>종료 시간 :</h2>
                    <input type="time" class="end">
                </div>
                <div class="sup-send">
                    <button class="submit-button"><h2>전송</h2></button>
                </div>
            </div>
            <div class="hidden-plan">
                <div class="sub-student-id">
                    <h2>학번 :</h2>
                    <input type="text" class="hidden-SID">
                </div>
                <div class="lastTime">
                    <h2>수정 시간 :</h2>
                    <input type="time" class="hidden-end">
                </div>
                <button class="leave">조기 퇴실</button>
                <div class="sup-send">
                    <button class="edit-button"><h2>수정</h2></button>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script> -->
    <script src="https://kit.fontawesome.com/16beda54c8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js" type="module"></script>
<script type="module" src="/public/js/home/List.js" ></script>
<script src="/public/js/home/script.js"></script>
</html>